<footer id="main-footer">
    <section class="footer-content-container" id="main-footer-container">
        <div class="footer-content-container" id="footer-nav-socials">
            <div class="avatar-image"><img src="assets/website/avatarsmall.png" alt=""></div>
        </div>
        <div class="footer-content-container" id="footer-nav-socials">
            <h3 class="black">Social Media Links:</h3>
            <ul class="list-flex-row" id="footer-nav-socials">
                <li id="social-link">
                    <a href="https://twitter.com/SynfIV" target="_blank">
                        <img src="assets/website/twitterlogo64x.png" alt="Twitter Link" width="32">
                    </a>
                <li id="social-link">
                    <a href="https://www.furaffinity.net/user/synfiv" target="_blank">
                        <img src="assets/website/furaffinitylogo.png" alt="FA Link" width="32">
                    </a>
                <li id="social-link">
                        <a href="https://bsky.app/profile/synfiv.bsky.social" target="_blank">
                            <img src="assets/website/blueskylogo.svg" alt="Bluesky Link" width="32">
                        </a>
            </ul>
        </div>
    </section>
</footer>