<header id="header-background">
    <section class="section-flex-centered" id="header-navbar-holder">
        <ul class="list-flex-row" id="header-navbar-list">
            <div id="header-brand-name"><div id="brand-name-text">SARU</div></div>
            <div class="header-navbar-list-button"><a href="index.html">Main</a></div>         
            <div class="header-navbar-list-button"><a href="about.html">About</a></div>       
            <div class="header-navbar-list-button"><a href="pricing.html">Prices</a></div>     
        </ul>
    </section>
</header>