@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* -------------------------------------------------------------------------------------------------------------------------- */
/*      Global Classes    */
/* -------------------------------------------------------------------------------------------------------------------------- */
:root {
    --mainColor: #242a32;
    --secondaryColor: #2f353c;
    --accentColor: #ff9900;
    --fontColor: #dfdfdf;
    --headerWhite: rgba(255, 255, 255, 0.5);
}
html {
    font-family: Quicksand;
    font-size: 1em;
    background-color: var(--mainColor);
    line-height: 1.1;
    color: var(--fontColor)
}
body {
    margin: 0 0 0 0;
    height: 100vh;
}
.section-flex-centered {
    display: flex;
    justify-content: space-around;
}
.section-flex-left {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}
.underline {
    border-bottom: 2px solid var(--mainColor);
}
a, a:visited {
    color: inherit;
    text-decoration: none;
}
.list-flex-row {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-around;
}
h1 {
    color: var(--accentColor);
    font-size: 40px;
    margin: 0 0 0 0;
    padding: 5px;
}
h2 {
    color: var(--accentColor);
    font-size: 30px;
    margin: 0 0 0 0;
    padding: 10px;
}
h3 {
    color: var(--fontColor);
    font-size: 25px;
    margin: 0 0 0 0;
    padding: 10px;
}
h4 {
    margin: 15px 0 15px 0;
}
.article-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}
.main-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 0;
    margin: 0 20vw 0 20vw;
}
.main-content-container-paragraph {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-wrap: wrap;
    background-color: var(--secondaryColor);
    padding: 20px;
    margin-bottom: 10px;
    width: 60em;
    box-sizing: border-box;
}
.main-pricing-container-paragraph {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-wrap: wrap;
    background-color: var(--secondaryColor);
    padding: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    height:auto;
}
.container-pricing-subcategory div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-wrap: wrap;
    background-color: var(--secondaryColor);
    padding: 20px;
    margin-bottom: 10px;
    width: fit-content;
}
.main-content-container-paragraph {
    display: flex;
    flex-direction: column;
    background-color: var(--secondaryColor);
    padding: 20px;
    margin-bottom: 10px;
}
.paragraph-title-container {
    display: flex;
    width: 100%;
    justify-content: start;
    max-width: 75%;
    padding: 0 0 0 10px;
    margin-bottom: 5px;
}
.paragraph-subcategory-title-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0 0 0 10px;
    margin-bottom: 5px;
}
#dropshadow {
    filter: drop-shadow(rgb(0, 0, 0) 1px 1px 3px)
}
.paragraph-text-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-top: 2px solid var(--headerWhite);
    border-bottom: 2px solid var(--headerWhite);
}
.paragraph-text-container ul {
    list-style: none;
    text-align: left;
    
}
#commission-status {
    display: inline-flex;
    width: max-content;
    font-size: 1.2em;
    background-color: #242a32;
    padding: 5px;
    border-radius: 10px;
    font-weight: 500;
    color: rgb(150, 255, 150);
}





/*  --------------------------------------------------------------------------------------------------------------------------  */
/*  Screen Size Adjustment  */
/*  --------------------------------------------------------------------------------------------------------------------------  */
@media only screen and (max-width: 900px) {
    
    /* <>--- Main Content Sizes---<> */

    /* Header Sizes */
    #header-navbar-list {
        margin: 15px 10vw 10px 15vw;
        padding: 0 0 0 0px !important; 
        width: 60vw;
        height: max-content;
        flex-direction: column;
        align-items: start;
        border-left: 2px solid var(--headerWhite);
    }
    .header-navbar-list-button {
        width: 130px;
        height: 35px;
        padding: 5px 25px 5px 5px;
        margin-left: 10px;
        line-height: 1;
        display: flex;
        align-items: center !important;
    }
    .header-navbar-list-button a {
        justify-content: start !important;
        align-items: start !important;
    }
    #header-brand-name {
        border-bottom: 4px solid var(--headerWhite);
        margin-bottom: 4px;
    }
    /* Paragraph Sizes */
    .main-content-container-paragraph {
        max-width: 30em;
        margin-bottom: 2px;
    }
    .paragraph-title-container {
        max-width: 85vw;
        min-width: 50vw;
        text-align: center;
    }
    .paragraph-text-container {
        text-align: center;
        align-self: center;
    }
  }

 /*Desktop Styles */
 @media only screen and (min-width: 900px) {
    
    /* Main Content Sizes */
    /* Header Sizes */
    #header-navbar-holder {
        border-bottom: 2px solid var(--headerWhite);
        margin-bottom: 20px;
        margin-top: 20px;
        justify-content: center;
        width: 100vw;
    }
    #header-navbar-list {
        margin: 0;
        padding: 0;
        width: 60vw;
    }
    .paragraph-text-container {
        text-align: center;
        align-self: center;
    }
    
}








/* --------------------------------------------------------------------------------------------------------------------------*/
/* Header related classes */
/* --------------------------------------------------------------------------------------------------------------------------*/
#header-background {
    background: no-repeat top url(assets/website/mainheader-banner.jpg);
    display: flex;
    align-items: end;
    background-size: cover;
    height: 200px;
    color: black;
    overflow: hidden;
}
#header-navbar-list {
    font-size: 30px;
}
.header-navbar-list-button {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
    width: 100px;
    height: 100%;
    transition: background-color 0.3s ease-in-out , font-size 0.2s ease-in-out;
}
.header-navbar-list-button:hover {
    background-color: var(--headerWhite);
    font-size: 32px;
}
.header-navbar-list-button a {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    line-height: 1;
    filter: drop-shadow(rgb(255, 255, 255) 1px 1px) drop-shadow(rgb(255, 255, 255) -1px 1px) drop-shadow(rgb(255, 255, 255) 1px -1px) drop-shadow(rgb(255, 255, 255) -1px -1px);
}
#brand-name-text {
    height: fit-content;
    min-width: fit-content;
    filter: drop-shadow(rgb(255, 255, 255) 1px 1px) drop-shadow(rgb(255, 255, 255) -1px 1px) drop-shadow(rgb(255, 255, 255) 1px -1px) drop-shadow(rgb(255, 255, 255) -1px -1px);
    
}
#header-brand-name {
    font-size: 50px;
    margin-left: 10px;
    padding-right: 5px;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    line-height: 1;
    font-weight: 500;
    height: fit-content;
    min-width: 130px;
}







/* -----------------------------------------------------------------------------------------------------------------------------*/
/*  Section related classes */
/* -----------------------------------------------------------------------------------------------------------------------------*/
.showcase-images {
    height: 300px;
    max-width: 100%;
    object-fit: scale-down;
}
.avatar-image {
    height: 64px;
    max-width: 64px;
    object-fit: scale-down;
    display: flex;
    align-items: center;
    padding: 0 5px 0 5px;
    text-align: center;
}
.image-container {
    max-height: 20%;
    display: flex 1;
    flex-shrink: 1;
    flex-wrap: wrap;
    margin: 5px;
}
.image-container img {
    transition:transform 0.25s ease;
}
.image-container img:hover {
    -webkit-transform:translateY(-1em);
    transform: translateY(-1em);
}
#highlight-gallery {
    max-width: 90vw;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}







/* -----------------------------------------------------------------------------------------------------------------------------*/
/*  Section related classes */
/* -----------------------------------------------------------------------------------------------------------------------------*/
#main-footer {
    background-color: #ff9900;
    height: max-content;
    position: fixed;
    bottom: 0;
}

#main-footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: black;
    padding: 5px 0 5px 0;
    height: max-content;
    width: 100vw;
}
.footer-content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
}
#footer-nav-socials {
    list-style-type: none;
    flex-direction: row;
    justify-content: flex-end;
    width: max-content;
    margin: 0;
    padding: 5px 10px 5px 10px;
    flex-wrap: wrap;
}
#social-link {
    margin: 0 20px 0 20px;
    border: 3px solid black;
    border-radius: 15%;
    height: 32px;
}

#about-size-adjuster {
    min-width: 35em;
    max-width: 55em;
}

.container-pricing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--secondaryColor);
    padding: 20px;
    margin-bottom: 10px;
    height: 100%;
}
.container-pricing-subcategory {
    display: flex;
    flex-direction: column;
    min-width: 20%;
    max-width: 40%;
    background-color: var(--secondaryColor);
    padding: 20px;
    margin-bottom: 10px;
}