// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #e19c3b;
$secondary: rgb(69, 154, 214);
$accent: rgb(47, 53, 60);

$dark: #232931;
$dark-page: #121212;

$positive: #3be149;
$negative: #c10015;
$info: #414952;
$warning: #e6e047;

$typography-font-family: "Quicksand", Quicksand !default;
$body-font-size: var(--q-theme-font-size, 1.1rem);


.text-para {
  line-height: 1rem;
  font-size: large;
}
.dense-text {
  line-height: 1.1rem;
}
.round-container {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.header-name {
  font-size: 3rem;
  font-weight: 500;
  color: $secondary;
}
.primary-transparent {
  background-color: rgba(225, 156, 59, 0.6);
}
.secondary-transparent {
  background-color: rgba(47, 53, 60,0.6);
}
.blue-transparent {
  background-color: rgba(69, 154, 214,0.6);
}
.secondary-text {
  color: $secondary;
}
.site-background {
  position: absolute;
  top: -10px;
  height: 100%;
  width: 100%;
  background-image: url(".\Images\SynfivImage1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  z-index: -1;
}
.avatar-container {
  padding: 4px;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  -ms-border-radius: 75px;
  -o-border-radius: 75px;
}
.border {
  border: 5px solid #dfdfdf;
}
.text-shadow {
  text-shadow: 1px 1px 2px black;
}
.section-headline {
  border-bottom: 5px solid #459ad6 !important;
  border-top: 5px solid #459ad6 !important;
  margin: 10px auto;
}
.body--light {
  background-color: #242a32;
  color: #eee;
}
